

.FormMovies {
  width: 800px;
  margin: 0 auto;
  text-align: left;

}

.FormMovies .form-display {
  display: flex;
  flex-direction: column;
  width: 80%;
  
  
}

.FormMovies h1 {
  text-align: center;
}

.FormMovies .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px;
}

.FormMovies .form-data label {
 
  margin: 10px;
  text-align: right;
  float: left;
}

.FormMovies .form-data input:not([type="submit"]) {
  flex-grow: 1;
}
.TextArea{
  width: 80%;
  height: 200px;
  margin:2px;
}
